@model Product

<h1>Edit</h1>
<p style="display:inline-block;" id="productGroupAnchor">0</p> people are editing this product<br />

<form asp-action="Edit">
  <input type="hidden" asp-for="ProductId" />
  <div class="mb-3">
    <label for="productName" class="form-label">Name</label>
      <div><span asp-validation-for="Name" class="text-danger"></span></div>
    <input type="text" asp-for="Name" class="form-control" id="productName" aria-describedby="productName">
  </div>
  <div class="mb-3">
    <label for="productPrice" class="form-label">Price</label>
      <div><span asp-validation-for="Price" class="text-danger"></span></div>
    <input type="number" asp-for="Price" class="form-control" id="productPrice" aria-describedby="productPrice" >
  </div>
  <div class="mb-3">
    <label for="productCategory" class="form-label">Category</label>
    <div><span asp-validation-for="@Model.ProductCategory.Name" class="text-danger"></span></div>
    <input type="text" asp-for="@Model.ProductCategory.Name" class="form-control" id="productCategory" aria-describedby="productCategory">
  </div>
  <div class="mb-3">
    <label for="productDescription" class="form-label">Description</label>
      <div><span asp-validation-for="Description" class="text-danger"></span></div>
    <input type="text" asp-for="Description" class="form-control" id="productDescription" aria-describedby="productDescription">
  </div>
  <button type="submit" class="btn btn-primary" method="post">Submit</button>
</form>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/productGroup.js"></script>
