@model LoginViewModel
@{
    ViewBag.Title = "Log In";
}

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Login" asp-controller="Account" method="post">

  <div class="mb-3">
    <label asp-for="Name"></label>
    <input type="text" class="form-control" asp-for="Name" aria-describedby="Username">
  </div>
  <div class="mb-3">
    <label asp-for="Password"></label>
    <div><span asp-validation-for="Password" class="text-danger"></span></div>
    <input type="password" class="form-control" asp-for="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
