@model IEnumerable<Product>

<div>
    @await Component.InvokeAsync("NavigationMenu")
</div>

@foreach (var product in Model)
{
<div>
    <h3>@product.Name</h3>
    <h5>@product.Price.ToString("c")</h5>
    <h5>Category: @(product?.ProductCategory?.Name)</h5>
    @product.Description
    <hr />
</div>
}
